.hero {
  width: 100%;
  margin-top: -10px;

  .item {
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    &.slider-1 {
      background-image: linear-gradient(90deg, #012863 0%, rgba(1, 40, 99, 0)),
        url(../assets/img/hero/slider.webp);
    }

    &.slider-2 {
      background-image: linear-gradient(90deg, #012863 0%, rgba(1, 40, 99, 0)),
        url(../assets/img/hero/slider-2.webp);
    }

    &.slider-3 {
      background-image: linear-gradient(90deg, #012863 0%, rgba(1, 40, 99, 0)),
        url(../assets/img/hero/slider-3.webp);
    }

    .hero__content {
      width: 75%;

      h1 {
        font-size: calc(1.5rem + 3vw);
        margin-bottom: 1rem;
      }
    }
  }
}

.services-section {
  max-height: fit-content;
  position: relative;
  background-color: white;
  margin-top: -7rem;
  z-index: 10;
  border-radius: 1px;
  overflow: visible !important;
  border-bottom: 10px solid $red-color;
  padding: 0 3rem;
  overflow: visible !important;

  .services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s ease-in-out;
    overflow: visible !important;

    &:hover {
      transform: translateY(-90px);
      z-index: 100;
      .sercices__icon {
        border: 4px solid $red-color;
        background-color: white;
        margin-bottom: 1rem;
      }
      a {
        opacity: 1;
      }
    }

    .sercices__icon {
      width: 135px;
      height: 135px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 10000;
    }
    h3 {
      margin-bottom: 1rem;
      text-align: center;
    }
    p {
      text-align: center;
    }
    & > a {
      transition: all 0.6s ease-in-out;
      opacity: 0;
    }
  }
}

.info_section {
  background-image: linear-gradient(
      90deg,
      rgba(219, 28, 41, 0.9) 0%,
      rgba(219, 28, 41, 0.9)
    ),
    url(../assets/img/info-section/services-cta-bg.png);
  background-repeat: no-repeat;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  background-size: cover;
  position: relative;
  padding-block: 2rem;
  padding-left: 2.5rem;
  color: white;
  .row {
    align-items: center;
    justify-content: center;
  }
  .info_icon {
    text-align: center;
    color: $main-color;
    i {
      font-size: 2rem;
      padding: 1rem;
      background: white;
      border-radius: 50%;
    }
  }
  a {
    color: white;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $main-color;
    }
  }
}
@media screen and (max-width: 400px) {
  .info_section {
    padding-left: 0;
  }
}

.principles {
  background-color: #f3f4f6;
  position: relative;
  ul {
    span {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0 0.5rem;
      background-color: $red-color;
      color: white;
      clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
    }
  }
  .principles__vid {
    display: flex;
    justify-content: center;
    align-items: center;
    .video__icon {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      transition-property: background, color;
      &:hover {
        background-color: $main-color;
        i {
          color: white;
        }
      }
    }
  }
}

.vid__modle {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: #000000ba;
  .closing_btn-vid {
    position: absolute;
    top: 5%;
    #{$e}: 3%;
    color: white;
    cursor: pointer;
  }
}

.quote {
  padding-top: 10rem;
  background-image: linear-gradient(
      rgba(58, 46, 98, 0.2),
      rgba(58, 46, 98, 0.2)
    ),
    url(../assets/img/quote/price-cta-bg.png);
  background-position: #{$s}, center;
  &__content {
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
    padding: 5rem 5rem 0 5rem;
    filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.06));
  }
  &__form {
    input,
    textarea {
      box-shadow: none !important;
      border-color: #dee2e6 !important;
    }
    &__form__input {
      border-#{$e}: 0;
    }
    .input-group-text {
      color: $main-color;
      border: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      #{$e}: 0;
      background-color: transparent;
    }
  }
}
