.banar {
  height: 40vh;
  position: relative;
  clear: both;
  &__content {
    color: white;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3a2e62ce;
  }
}

@media screen and (max-width: 991px) {
  .banar {
    margin-top: 0;
  }
}
