@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800&display=swap");
body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

input {
  text-align: right;
}

*:not(i) {
  font-family: "Tajawal", sans-serif !important;
}

.bg_main_color {
  background-color: #3a2e62;
}

.bg_red_color {
  background-color: #db1c29;
}

.text_main_color {
  color: #3a2e62;
}

.text_red_color {
  color: #db1c29;
}

.fontf__oswald {
  font-family: "Oswald", sans-serif;
}

.text-color {
  color: #999999;
}

.upperbar__text {
  color: #8a9db9;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

section {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main__btn {
  border: 0;
  padding: 1rem 1.5rem;
  -webkit-clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
          clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.main__btn:hover {
  background-color: #3a2e62;
}
.main__btn a {
  color: white;
}

.bordered__btn {
  position: relative;
  background-color: transparent;
  padding: 1rem 1.25rem;
  border: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.bordered__btn::after {
  content: "";
  position: absolute;
  border: solid #395173;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 0;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  inset: 0;
}
.bordered__btn::before {
  content: "";
  position: absolute;
  border: solid #395173;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0;
  border-right-width: 2px;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  inset: 0;
}
.bordered__btn:hover {
  background-color: white;
  -webkit-clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
          clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
}
.bordered__btn:hover::after, .bordered__btn:hover::before {
  display: non;
}
.bordered__btn:hover a {
  color: #3a2e62;
}
.bordered__btn a {
  color: white;
}

.navbar__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__box__text p {
  font-size: 12px;
  margin-bottom: 6px;
}

.navbar__box__text a {
  color: #3a2e62;
}

.descktop-nav {
  width: 70%;
  float: left;
  margin-left: 1rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 1% 100%);
}
.descktop-nav .navslist {
  display: inline-block;
}
.descktop-nav .navslist li {
  display: inline-block;
  margin-inline: 1.75rem;
}
.descktop-nav button {
  border: 0;
  background-color: #3a2e62;
  color: white;
  padding-inline: 3rem;
  text-transform: capitalize;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.descktop-nav button:hover {
  background-color: #1f1834;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  float: left;
}
.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: black;
  opacity: 0.5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 90;
}
.mobile-nav__overlay.is-active {
  left: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  min-height: 100vh;
  display: block;
  z-index: 100;
  background-color: white;
  padding-top: 1rem;
  -webkit-padding-start: 1rem;
     -moz-padding-start: 1rem;
          padding-inline-start: 1rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-border-start: 3px solid #db1c29;
     -moz-border-start: 3px solid #db1c29;
          border-inline-start: 3px solid #db1c29;
  padding: 2rem;
}
.mobile-nav.is-active {
  left: 0;
}
.mobile-nav .closing_btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1rem;
}
.mobile-nav .closing_btn i {
  padding: 1rem;
  line-height: 1rem;
  font-size: 1rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #3a2e62;
}
.mobile-nav .closing_btn i:hover {
  background-color: red;
}
.mobile-nav .mobile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-nav .mobile-nav__list a {
  position: relative;
  display: inline-block;
  padding: 1rem 0.5rem;
  color: #3a2e62;
  font-weight: bold;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.mobile-nav .mobile-nav__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile-nav .mobile-nav__info span {
  margin-top: 1rem;
}
.mobile-nav .mobile-nav__info span a {
  color: #3a2e62;
}

.hero {
  width: 100%;
  margin-top: -10px;
}
.hero .item {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.hero .item.slider-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#012863), to(rgba(1, 40, 99, 0))), url(../assets/img/hero/slider.webp);
  background-image: linear-gradient(90deg, #012863 0%, rgba(1, 40, 99, 0)), url(../assets/img/hero/slider.webp);
}
.hero .item.slider-2 {
  background-image: -webkit-gradient(linear, left top, right top, from(#012863), to(rgba(1, 40, 99, 0))), url(../assets/img/hero/slider-2.webp);
  background-image: linear-gradient(90deg, #012863 0%, rgba(1, 40, 99, 0)), url(../assets/img/hero/slider-2.webp);
}
.hero .item.slider-3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#012863), to(rgba(1, 40, 99, 0))), url(../assets/img/hero/slider-3.webp);
  background-image: linear-gradient(90deg, #012863 0%, rgba(1, 40, 99, 0)), url(../assets/img/hero/slider-3.webp);
}
.hero .item .hero__content {
  width: 75%;
}
.hero .item .hero__content h1 {
  font-size: calc(1.5rem + 3vw);
  margin-bottom: 1rem;
}

.services-section {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  position: relative;
  background-color: white;
  margin-top: -7rem;
  z-index: 10;
  border-radius: 1px;
  overflow: visible !important;
  border-bottom: 10px solid #db1c29;
  padding: 0 3rem;
  overflow: visible !important;
}
.services-section .services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: visible !important;
}
.services-section .services__card:hover {
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
  z-index: 100;
}
.services-section .services__card:hover .sercices__icon {
  border: 4px solid #db1c29;
  background-color: white;
  margin-bottom: 1rem;
}
.services-section .services__card:hover a {
  opacity: 1;
}
.services-section .services__card .sercices__icon {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 10000;
}
.services-section .services__card h3 {
  margin-bottom: 1rem;
  text-align: center;
}
.services-section .services__card p {
  text-align: center;
}
.services-section .services__card > a {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  opacity: 0;
}

.info_section {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(219, 28, 41, 0.9)), to(rgba(219, 28, 41, 0.9))), url(../assets/img/info-section/services-cta-bg.png);
  background-image: linear-gradient(90deg, rgba(219, 28, 41, 0.9) 0%, rgba(219, 28, 41, 0.9)), url(../assets/img/info-section/services-cta-bg.png);
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
          clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  background-size: cover;
  position: relative;
  padding-block: 2rem;
  padding-left: 2.5rem;
  color: white;
}
.info_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.info_section .info_icon {
  text-align: center;
  color: #3a2e62;
}
.info_section .info_icon i {
  font-size: 2rem;
  padding: 1rem;
  background: white;
  border-radius: 50%;
}
.info_section a {
  color: white;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.info_section a:hover {
  color: #3a2e62;
}

@media screen and (max-width: 400px) {
  .info_section {
    padding-left: 0;
  }
}
.principles {
  background-color: #f3f4f6;
  position: relative;
}
.principles ul span {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.5rem;
  background-color: #db1c29;
  color: white;
  -webkit-clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
          clip-path: polygon(11% 0, 100% 0, 89% 100%, 0 100%);
}
.principles .principles__vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.principles .principles__vid .video__icon {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition-property: background, color;
  transition-property: background, color;
}
.principles .principles__vid .video__icon:hover {
  background-color: #3a2e62;
}
.principles .principles__vid .video__icon:hover i {
  color: white;
}

.vid__modle {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: #000000ba;
}
.vid__modle .closing_btn-vid {
  position: absolute;
  top: 5%;
  left: 3%;
  color: white;
  cursor: pointer;
}

.quote {
  padding-top: 10rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 46, 98, 0.2)), to(rgba(58, 46, 98, 0.2))), url(../assets/img/quote/price-cta-bg.png);
  background-image: linear-gradient(rgba(58, 46, 98, 0.2), rgba(58, 46, 98, 0.2)), url(../assets/img/quote/price-cta-bg.png);
  background-position: right, center;
}
.quote__content {
  -webkit-clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
          clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);
  padding: 5rem 5rem 0 5rem;
  -webkit-filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.06));
          filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.06));
}
.quote__form input,
.quote__form textarea {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: #dee2e6 !important;
}
.quote__form__form__input {
  border-left: 0;
}
.quote__form .input-group-text {
  color: #3a2e62;
  border: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: transparent;
}

@media screen and (max-width: 550px) {
  .quote {
    padding-top: 1rem;
  }

  .quote__content {
    padding: 1rem 2rem 0 2rem;
  }
}
.numbers {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(58, 46, 98, 0.9)), to(rgba(58, 46, 98, 0.9))), url(../assets/img/numbers/fact-bg-02-1.jpg);
  background-image: linear-gradient(rgba(58, 46, 98, 0.9), rgba(58, 46, 98, 0.9)), url(../assets/img/numbers/fact-bg-02-1.jpg);
  background-size: cover;
  color: white;
  padding: 5rem 0;
}
.numbers span {
  font-size: 3rem;
}
.numbers .numbers__icon {
  font-size: 4rem;
}

/*# sourceMappingURL=main-rtl.css.map */